* {
	margin: 0;
	padding: 0;
}
html {
	background-color: black;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;
    margin: 0 auto;
    border: 3px solid black;
    background-color: white;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid black;
    
		
}
header h2 {
	font-size: 175%;
	color: #db3236;
    text-align: left;
    padding-top: 150px;
    
    
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:3px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.shadow {
	text-shadow: 0px 2px 2px #3cba54;
}
/* the styles for the navigation menu */
#nav_menu ul {
	width: 100%;                        /* full width of body */
	list-style-type: none;
	position: relative;
    text-decoration:none;
    
    
}

#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
    
}
#nav_menu ul ul li {
	float: none;
	position: relative; 
     
}
#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;
	top: 0;
}
#nav_menu ul li.lastitem ul li ul {
	position: absolute;
	left: -100%;
	top: 0;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
/* the styles for the navigation menu - formatting */
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	width: 25%; /* 198 / 990 */
}

#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .3em 0;
    text-decoration: none;
    font-size: 150%;
    color:#4885ed;
}

}
#nav_menu ul li:hover ul {
	width: 100%;
}
#nav_menu ul li:hover ul li:hover ul li {
	width: 100%;
}


/* the styles for the main content */
h1{
    font-size: 380%;
    
        
}
main {
	clear: left;
    padding: 20px 20px 20px 20px;
}

/* the styles for the section */
section {
	width: 99%;
	float: right;
	padding: 20px 20px 20px 20px;
}
main section h2 {
    color:#3cba54;
    

}
section h2 {
	color: #3cba54;
	font-size: 130%;
	padding: .5em 0 0em 0;
}
section p {
	padding: 0;
}
section blockquote {
	padding: 0em 2em 1em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding: .5em 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
article h2 {
	padding-top: 0;
    color: #3cba54!important ;
    font-size: 200%;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article ul li{
    padding-left: .5em
}
article img {
	float: right;
	margin: 0em 0 1em 1em;
	border: 1px solid black;
}

/* the styles for the aside */

aside {
	width: 99%;
	float: right;
    padding: 20px 20px 200px 20px;
}
aside ul {
	width: 100%;                        /* full width of body */
	list-style-type: none;
	position: relative;
}
aside ul li a {
	text-align: center;
    font-size: 200%;
	display: block;
	padding: .7em 0;
	background-color: white;
    text-decoration: none;
    color: #4885ed !important;
}

aside ul li:hover ul {
	width: 100%;
    color: #4885ed !important;
     font-weight: bold;
}
aside ul li:hover ul li:hover ul li {
	width: 100%;
    color: #4885ed !important;
}
section h3{
    font-size: 175%;
	padding: 1em 0 0 0;
}
#accordian h3 {
    border: 1px solid;
}
#education p{
    padding-left: 0;
}
article p{
    padding-left:0;
}
/* the styles for the footer */
footer {
	background-color: #4885ed;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
